
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<h2>Resources</h2>
<table class="table">
    <div class="textdiv2">
        <a href="http://www.syracuse.edu/" target="_blank">Syracuse University Website</a><br />
     </div>
    <div class="textdiv2">
        <a href="http://archives.syr.edu/buildings/" target="_blank">SU Archives - Buildings - Syracuse</a><br />
    </div>
    <div class="textdiv2">
        <a href="http://www.syrgov.net/home.aspx" target="_blank">City of Syracuse</a><br />
    </div>
    <div class="textdiv2">
        <a href="http://en.wikipedia.org/wiki/Syracuse,_New_York" target="_blank">Syracuse, New York - Wikipedia, the free encyclopedia</a><br />
    </div>
    <div class="textdiv2">
        <a href="https://developers.google.com/maps/" target="_blank">Maps API - Google Developers</a><br />
    </div>
    <div class="textdiv2">
        <a href=" http://suevents.syr.edu/main.php" target="_blank">Syracuse Events</a><br />
    </div>
</table>